#chapter_actions {
    display: flex;
    margin-bottom: 20px;

    button.chapter {
        height: 25px;
        padding: 5px 10px;

        background: var(--green);
        color:white;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        line-height: 15px;
        border-radius: 3px;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &.active {
            background-color: black !important;
        }
    }
}

#chapter_selector {
    margin: 0 20px;
}

#chapters {
    .chapter {
        display: none;

        &.active {
            display: block;
        }
    }
}

#blog-remove-chapter, #blog-add-chapter {
    background-color: gray;
}
