@import '~@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import 'variables.scss';

@font-face {
    font-family: "Star Wars";
    src: url("assets/fonts/Starjedi.ttf") format("truetype");
}

@font-face {
    font-family: "Star Wars Logo";
    src: url("assets/fonts/Starjhol.ttf") format("truetype");
}

:root {
    --yellow: #e5b13a;
    --blue: #0167a2;
    --red: #e60c0b;
}

body {
    margin: 0;
}

#app {
    --primary-color: var(--yellow);
    --code-tag-color: #7776;
    --text-color: #eee;
    --link-color: var(--yellow);
    --second-background: rgba(12, 23, 34, 0.4);

    &[data-theme="empire"] {
        --primary-color: var(--red);
    }

    &[data-theme="aliance"] {
        --primary-color: var(--blue);
        --link-color: var(--blue);
        --second-background: none;
        --text-color: black;

        background-image: initial;
    }

    position: absolute;
    left: 0;
    right: 0;

    min-height: 100vh;
    margin: 0;

    font-family: Helvetica, Arial, sans-serif;
    color: var(--text-color);
    background-image: url('assets/images/fondoestrellado.png');
}

* {
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    outline: none;
}

h1 {
    color: var(--primary-color);
    font-family: "Star Wars";
    line-height: 40px;
}

.content-wrapper {
    width: 70vw;
    margin: 0 auto;
}

.code-tag {
    background-color: var(--code-tag-color);
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 3px 5px;
    white-space: nowrap;
}
